.image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 13em;
    max-height: 15em;
    border: 5px solid white;
    border-radius: 25px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}